#modal-registration-viewer {
	z-index: 9999999 !important;
}
#modal-registration-viewer th {
	text-transform: none; !important;
	user-select: text !important;
}
#modal-registration-viewer td {
	overflow-wrap: anywhere; !important;
	user-select: text !important;
}
#registration-viewer-path {
	user-select: text !important;
}